@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Main home container */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 50px 0 100px;
}

/* Image styling */
.home img {
  width: 150px;
  height: 150px;
  margin-top: 100px;
}

/* Heading styles */
.home h1 {
  font-size: 40px;
  text-align: center;
  width: 70%;
  font-weight: 600;
}

.home h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h2 {
  font-size: 30px;
  font-weight: 500;
}

/* Connect button styling */
.home-connect {
  padding: 10px 25px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  border: none;
}

/* Social icons styling */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 30px;
  margin: 5px 10px;
  transition: 0.3s ease;
  color: white;
  background-color: #131313;
  cursor: pointer;
  border-radius: 50%;
  padding: 12px 14px;
}

.icons {
  background-color: transparent;
  font-size: 25px;
}

/* Responsive styles */

@media (max-width: 655px) {
  .home h1 span {
    font-size: 30px;
  }
  .home h2 {
    font-size: 25px;
  }
  .home img{
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 500px) {
  .home {
    gap: 10px;
    padding: 150px 0 150px;
  }
  .home h1 span {
    font-size: 22px;
  }
  .home h2 {
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .home {
    gap: 8px;
    margin: 0 0 80px 0;
  }
  .home img {
    width: 80px;
    height: 80px;
    margin-top: 150px;
  }
  .home h1 span {
    font-size: 20px;
  }
  .home h2 {
    font-size: 16px;
  }
  .home-connect {
    font-size: 15px;
    padding: 8px 15px;
  }
  .social-icons a {
    font-size: 18px;
  }
  .icons {
    font-size: 15px;
  }
}
